article {
	width: 60%;
  margin: 1% 20%;
  border: #c2c1c0 solid 2px;
  border-radius: 1%;
  background-color: #FFF;
  padding: 1%;
}

h2 {
  color: #5E5C6B;
  margin: 1px 10px;
}

p {
  font-weight: 300;
  color: #6A686A;
  margin: 15px 10px 20px 10px;
}